@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

*{
    box-sizing: border-box;
}
.page-dropdown{
    display: flex;
   
}

img{
    width: 7rem;
}
img:hover{
    cursor: pointer;
}
li{
    list-style: none;
    padding: 1.5rem;
    box-sizing: border-box;
    transition:all ease-in-out 0.1s;
}
li:hover{
    border-bottom:1px solid #6acbe9;
    
   
}

li a:hover{
    color: #6AC0E9;
}

.nav-container{
    display: flex;
    border-bottom: 1px solid black;

}
.logo-container{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.extra-icons{
    display: flex;
    flex:2;
 
    align-items: center;
    justify-content: center;

}

.extra-icons:hover{
    cursor: pointer;
}

.nav-elements{
    display: flex;
    justify-content: center;
    align-items: center;
}

.extra-icons>*{
  margin: 0rem 0.7rem;
}


.extra-icons>*:hover{
    color: #6AC0E9;
}



a{
    font-family: "Josefin Sans";
    text-decoration: none;
    color: white;
}